---
import '../styles/global.css';
---
<!doctype html>
<html lang="zh-CN">
  <head><meta charset="utf-8" /><title>Baize scaffold check</title></head>
  <body>
    <h1 class="bz-logotype">白泽明理</h1>
    <a class="bz-btn bz-btn--primary" href="#">token 生效检查</a>
  </body>
</html>
